---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<h1>Morning Chorus Records</h1>
	<p>PRESS/MEDIA - If you would like to receive future press releases from Morning Chorus Records → <a href="https://morningchorusrecords.kit.com/press-list">SIGN UP HERE</a></p>
</BaseLayout>


