---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import mcrRoundal from "../assets/mcr_favicon.svg";
---

<BaseLayout title="Home">

	<div class="flex flex-col sm:flex-row gap-8 sm:pt-20 sm:pb-20">
		<div class="flex flex-col gap-2">
			<Image src={mcrRoundal} alt="Morning Chorus Records" width={160} height={160} class="flex-shrink-0 animate-spin [animation-duration:60s] motion-reduce:animate-none" />
		</div>

		<div class="flex flex-col gap-2">
			<div class="flex flex-col gap-2">
				<h1 class="text-3xl font-bold">Morning Chorus Records</h1>
				<p class="text-lg text-gray-500">Independent & Artist Owned by <a href="https://thegoudies.com" class="hover:underline">The Goudies</a></p>
			</div>
			
			<ul>
				<li>CATALOGUE &rarr; <a href="/releases" class="hover:underline">Releases</a></li>
				<li>CURATION &rarr; <a href="/playlists" class="hover:underline">Playlists</a></li>
				<li>SYNC &rarr; <a href="mailto:Jeff@bighugmusicgroup.com" class="hover:underline">Jeff@bighugmusicgroup.com</a></li>
				<li>PRESS &rarr; <a href="https://morningchorusrecords.kit.com/press-list" class="hover:underline">Join Press List</a></li>
				<li>CONTACT &rarr; <a href="mailto:hello@morningchorusrecords.com" class="hover:underline">hello@morningchorusrecords.com</a></li>
			</ul>
		</div>
	</div>
	
</BaseLayout>


