---
import "../styles/global.css";
import { Image } from "astro:assets";
import mcrLogo from "../assets/mcr_logo_orange_fill.svg";
import mcrRoundal from "../assets/mcr_favicon.svg";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Morning Chorus Records` : "Morning Chorus Records"}</title>
  </head>
  <body class="font-sans bg-white text-gray-900">

    <header class="p-4 mb-8">
      <nav class="max-w-4xl mx-auto flex justify-between">
        <a href="/">
            <Image src={mcrLogo} alt="Morning Chorus Records" width={80} height={80} class="flex-shrink-0" />
        </a>
        <div class="space-x-4">
          <a href="/releases" class="hover:underline">Releases</a>
          <a href="/playlists" class="hover:underline">Playlists</a>
        </div>
      </nav>
    </header>

    <main class="max-w-4xl mx-auto p-4">
      <slot />
    </main>

    <footer class="p-4 text-sm text-gray-500 mt-20">
        <div class="max-w-4xl mx-auto">
            <div class="flex flex-col gap-2">
                <div>
                    <p>© {new Date().getFullYear()} Morning Chorus Records</p>
                </div>
                <div>
                    <p><a href="https://morningchorusrecords.com" class="hover:underline">Morning Chorus Records</a> is a trading name of <a href="https://goudieworks.co" class="hover:underline">Goudie Works Ltd.</a></p>
                    <p>Company number 11656551. Registered in England and Wales. All rights reserved.</p>
                </div>
            </div>
            
        </div>
    </footer>
  </body>
</html>
